In [3]:
import pandas as pd

In [4]:
# reading a csv file
csvdata = pd.read_csv('C:\python\python hands-on - dataset.csv')

In [5]:
csvdata.head()

         date        sku warehouse_location  quantity
0  2021-01-02  100940478              lagos        23
1  2020-11-09  100940479              lagos        84
2  2021-01-15  100940480                oyo        11
3  2016-11-09  100940481               ogun        98
4  2017-04-04  100940482               ogun        23

In [6]:
import numpy as np

In [7]:
# adding new column named obsolete
csvdata['obsolete']= np.where(csvdata['date']<'2021-01-01',True,False)
csvdata.head()

         date        sku warehouse_location  quantity  obsolete
0  2021-01-02  100940478              lagos        23     False
1  2020-11-09  100940479              lagos        84      True
2  2021-01-15  100940480                oyo        11     False
3  2016-11-09  100940481               ogun        98      True
4  2017-04-04  100940482               ogun        23      True

In [8]:
data = csvdata.to_json('python data sets.json',orient='index')
print(data)

None

In [9]:
pwd

'C:\\Users\\USER PC'